<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Developer at
      <a class="underline-link" href="https://joshsoftware.com" target="_blank">Josh Software</a> building things for the iOS/Mac with some awesome people. I  graduated from
      <a class="underline-link" href="http://www.unipune.ac.in/" target="_blank">Pune University.</a> 
    </p>

    <p>
      My technical expertise includes the creation of iOS applications for clients and the execution of the various tasks associated with the life cycle of the app.My goal is to always build applications that are scalable and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably Making music, Stringing Guitar, Roaring rides on a Bike or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
