<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>



  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://itunes.apple.com/us/app/supreme-golf-search-tee- times/id909762897?mt=8" target="_blank">
          <img src="{{site.baseurl}}/img/featured/SupremeGolf/Golf1.png" alt="">
        </a>
      </figure>

      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://itunes.apple.com/us/app/supreme-golf-search-tee- times/id909762897?mt=8" target="_blank">Supreme Golf Mobile</a>
        </div>
        <p>Supreme Golf is the world's largest tee time search engine.It help player search,book,play golf and support all mobile platforms.</p>
      </figcaption>
    </div>


  <div class="project screentime">
      <figure class="project__pic phones">
         <a href="https://apps.apple.com/in/app/goplay-watch-movies-series/id1445402611" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/GoPlay/GP1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/GoPlay/GP2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/GoPlay/GP3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://apps.apple.com/us/app/rider-for-uber-rides/id1197197351?%2520mt=12" target="_blank">GoPlay: Watch movies &nbsp;series </a>
        </div>
        <p>Streaming platform for movies and series.  Indonesian & Korean  drama, horror, and comedy shows.exclusive access to watch originals such as Filosofi Kopi: The Series, The Haha Club, Buffalo Boys, Aruna & Lidahnya and many more.</p>
      </figcaption>
    </div>
   


    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://apps.apple.com/us/app/max-total-security/id1178910943" target="_blank">
          <img src="{{site.baseurl}}/img/featured/MaxTS/mactoalsecurity.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://apps.apple.com/us/app/max-total-security/id1178910943" target="_blank">Max Total Security </a>
        </div>
        <p>Max Total Security-features: Location tracking, Safe Contacts back up on iCloud, Drop-Box or E-mail, Safety from malicious websites in Safari,Safe Browser, Thief Cam to protect Photo from unauthorized access, Photo Vault, Duplicate Finder and Photo Compressor for saving space, safety to Wi-Fi network from ARP network attack & tracks mobile Data usage.</p>
      </figcaption>
    </div>
  </div>
</section>
